*.apk
*.ap_
*.dex
*.class
*.iml
.gitignore~
.idea/
.gradle
.classpath
.settings/
build/
bin/
gen/
local.properties
target/
classes/
gen-external-apklibs/
out/
tmp/
/local.properties
/.idea/workspace.xml
.DS_Store
*build/