<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.doomonafireball.repmaxcalculator"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="17"/>

    <application
            android:name=".MainApp"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/BodyBalanceTheme">
        <activity
                android:name=".activity.RepMaxCalculatorActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.SettingsActivity"/>
        <activity
                android:name=".activity.ConversionActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.AboutActivity"
                android:theme="@style/FullWidthDialog"/>
        <activity
                android:name=".activity.RepMaxFormulaInfoActivity"
                android:theme="@style/FullWidthDialog"/>
        <activity
                android:name=".activity.EulaActivity"
                android:theme="@style/FullWidthDialog"/>
        <activity
                android:name=".activity.DyelActivity"
                android:theme="@style/FullWidthDialog">
        </activity>
    </application>

</manifest>

